@font-face {
  font-family: 'Billy';
  src: url('/fonts/Billy-Bold.otf') format('opentype');
  /* You can also specify other font properties here */
}

@keyframes shake {
  0% { transform: translateX(0); transform: translateY(0); }
  25% { transform: translateX(-3px); transform: translateY(-1px); }
  50% { transform: translateX(3px); transform: translateY(1px); }
  75% { transform: translateX(-3px); transform: translateY(-1px); }
  100% { transform: translateX(3px); transform: translateY(1px); }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}
